body {
    margin: 0 0;
    font-family: sans-serif;
}

header {
    background-color: #c3a9c7;
    border-bottom-style: solid;
    font-family: sans-serif;
}

.header-icon {
    height: 5em;
}

.header-text {
    display: inline-block;
    vertical-align: top;
}

.header-text * {
    vertical-align: middle;
    margin: 0;
}

#name {
    font-size: 3em;
}

.description {
    color:white;
    font-size: 1em;
}

.name {
    color: #674068;
}

main {
    text-align: center;
}

.submit {
    border: none;
    padding: 1%;
    margin: 2%;
    width: 20%;
    background-color: #04AA6D;
    color: white;
    transition: 0.5s;
    position: relative;
}

@keyframes shake {
    from {
        left: 0px;
        background-color: #04AA6D;
    }

    25% {
        left: 15px;
        background-color: red;
    }

    75% {
        left: -15px;
        background-color: red;
    }
  
    to {
        left: 0px;
        background-color: #04AA6D;
    }
}

.submit:hover {
    background-color: rgb(24, 204, 138);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.dropdown {
    border: none;
    padding: 1%;
    margin: 1%;
    width: 20%;
}

.text-input {
    border-radius: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #e9e9ed;
    padding: 1%;
    margin: 1%;
    width: 20%;
}

table {
    border: 3px solid #c3a9c7;
    border-collapse: collapse;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
}

tr > * {
    border: 1px solid #674068;
    padding: 1em;
}

.result {
    border-left: 3px solid #674068;
    border-right: 3px solid #674068;
}

.misc {
    font-size: small;
    padding: 0.1em;
}